*{
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;
    margin: 20px 5rem;
}

#page-wrapper{
    padding: 5px 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
#logo_img{
width: 2.3rem;
}
#logo_text{
    font-size: 1.8rem;
    font-weight: 600;
}
.menu{
    display: flex;
     font-size: 19px;    
}

.menu li{
    list-style: none; 
    margin-left: 90px;
}

/*
.log{
    margin-left: 120px;
}
*/

.btn{
    color: white;
    background-color: rgb(100, 149, 237);
    border: 1px solid rgb(100, 149, 237);
    padding: 2px  14px;
    border-radius: 6px;
    font-size: 19px;
   margin-left: 1.3rem;
}

.into{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-bottom: 50px;
}
.con{  
    margin-top: 80px;
    margin-bottom: .5rem;
}

#heading {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#info{
    font-size: 1.1rem;
}
#btn{
    margin-left: 15px;
    padding: 9px 20px;
    border: 1px solid blue;
    background-color: rgb(48, 48, 117);
    font-size: 15px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}


#img_box{
max-width: 50%; 
 margin-top: 80px;
 margin-right: 5rem;
  
}

#img{
    border-radius: 5%;
    width: 135%;
    
}


.digi{
    font-size: 10px;
}

.messages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.common{
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 19px;
        font-size: 10px;
        max-width: 10rem;
        height: 100px;
        margin-top: 50px;
        text-align: center;
}

.icon{
    text-align: center;
    margin-bottom: 8px;
}

.con_1{
       background-color: gold;
}
 

.con_2{
    background-color: orangered;
}



.con_3{
    background-color: blue;
}

.con_4{
    background-color: black;
}



@media (min-width: 320px) and (max-width: 610px){
   
    body{
        background-color: snow;
        margin: 20px 2rem;
}
    
    
    .menu{
   display: none;
    }
        
.into{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#heading{
    font-size: 2rem;
}

#img_box{
  
     margin-top: 80px;
     margin-left: -1rem;
     
      
    }
    
#img{
    /* border-radius: 5%; */
    width: 170%;
    
}
 
   .messages{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        
        
}
      .grow{
        display: none;
      }


      .common{
        max-width: 9rem;
        height: 120px;
        margin: 10px auto;
       
}
    
    }
    @media (min-width: 611px) and (max-width: 780px) {
        
        .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-family: sans-serif;
             font-size: 1rem;
             color: lightcoral;

        }

        .log{
            display: none;
        }

        .btn{
            display: none;
        }
    }


    @media (min-width: 781px) and (max-width: 1067px) {
         body{
            margin: 0px;
            margin-left: 2.5rem;
            background-color: snow;
         }

        .nav-bar{
            display: block;
            font-size: 2rem;
           }

           .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.4rem;
            margin-top: 2rem;
            color: mediumturquoise;
           
           }
             
           .btn{
            margin-left: 5rem;
           }
        }









